<h1>Listings</h1>

<%= @listing.title %>

<p><%= link_to 'Return to Listings', listings_path %></p>

<p><%= link_to 'Edit This Listing', edit_listing_path %></p>

<p><%= link_to 'Delete This Listing', @listing, method: :delete, data: { confirm: 'Are you sure?' } %></p>