<form role="form">
<%= form_for [@listing, @attachment] do |f| %>
    <p><%= f.text_field :name %>
    <%= f.file_field :image, class: "form-control" %></p>
 
    <%= f.submit class: 'btn btn-primary btn-block listing-btn' %>
<% end  %>
</form>