<body>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <center><h2 class="page-header">Categories</h2></center>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Categories</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" id="categoryrow">
            <% @categories.each do |category|%>
            <div class="col-md-3 img-portfolio">
                <div class="list-group">
                <button type="button" class="btn btn-primary btn-block">
                        <%= link_to category.name, category %></button>
                        <p class="list-group-item-text">
                            <%= category.description %></p>
                        </div>
                    </div>
                    <% end %>

                </div>



                <!-- /.row -->

                <hr>
                <% if user_signed_in? && current_user.admin? %>
                <p><%= link_to 'Add a Category', new_category_path %></p>
                <% end %>
                <hr>

                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; Your Website 2014</p>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.container -->

            <!-- jQuery -->
            <script src="js/jquery.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="js/bootstrap.min.js"></script>

        </body>