<p><% @categories.each do |category|%></p>
<h3><%= link_to category.name, category %></h3>
<% end %>

<% if user_signed_in? && current_user.admin? %>
<p><%= link_to 'Add a Category', new_category_path %></p>
<% end %>